h1 {
    color: skyblue;
    text-align: left;
}

.banner{
    background-color: skyblue;
    color: black;
    padding: 5px;
}

body{
    background-color: skyblue;
}

div{
    background-color: white;
}

.wrap_text{
    float: left;
    margin: 5px;
}

p{
    text-align: justify;
}


