h1 {
    color: skyblue;
    text-align: left;
}

body{
    background-color: lightgray;
}

div{
    background-color: white;
}

.wrap_text{
    float: left;
    margin: 5px;
}

p{
    text-align: justify;
}

@media (max-width: 800px) {
    h1{
        color: skyblue;
        text-align: left;
        size: 12px;
    }
}


